.current-spot {
	margin-top: 50px;
	background: #ffff69;
}

.current-spot h3 {
	margin-top: 12px;
	margin-bottom: 14px;
}

.main-content {
	background: #eeeeee;
	padding-top: 16px;
	padding-bottom: 12px;
}